<% unless flash[:notice].nil? %>
  <p class="alert alert-warning"><%= flash[:notice] %></p>
<% end %>

<h2>頻出語</h2>
<form action="/freq" method="post">

  <p class="mt-2 mb-1">テキストを入力してください。</p>
  <%= textarea :freq, :content, "", { class: "rounded border-secondary texts-input-area" } %>

  <p class="mt-3 mb-1">抽出する品詞を選んでください。</p>
  <p class="mb-2 fs-08">※品詞を選択しない場合、全ての品詞を抽出します。</p>
  <%= select :freq, :wordclass, %w(未選択 名詞 動詞 形容詞 副詞 助詞 助動詞 記号), class: "wordclass-select-area mb-3" %>


  <%= submit "抽出", class: "d-block mt-2 mb-4 btn btn-dark" %>

</form>

<h2>共起語</h2>
<form action="/cooccur" method="post">

  <p class="mt-2 mb-1">検索したいキーワードを入力してください。</p>
  <%= input :cooc, :word, { class: "rounded word-input-area" } %>

  <p class="mt-2 mb-1">共起語を検索するベースとなるテキストを入力してください。</p>
  <%= textarea :cooc, :base, "", { class: "rounded border-secondary texts-input-area" } %>

  <p class="mt-3 mb-1">抽出する品詞を選んでください。</p>
  <p class="mb-2 fs-08">※品詞を選択しない場合、全ての品詞を抽出します。</p>
  <%= select :cooc, :wordclass, %w(未選択 名詞 動詞 形容詞 副詞 助詞 助動詞 記号), class: "wordclass-select-area mb-3" %>

  <%= submit "共起語", class: "d-block mt-2 btn btn-dark" %>

</form>
